.container {
  height: 100%;
  position: absolute;
  top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 400px);
}
.crop_cont {
  position: relative;
  width: 400px;
  background-color: black;
  height: 600px;
  overflow: hidden;
  transition: 0.5s;
}
.crop_cont img {
  border: solid 2px white;
  width: 800px;
  transform: translate(-30%);
}
.crop_cont img:hover {
  width: 100%;
  border: transparent;
  transform: none;
}
.crop_cont:last-child {
  position: absolute;
  right: -400px;
  height: 100%;
}
.title {
  position: absolute;
  font-size: 50px;
  justify-self: center;
  top: 3 0%;
  left: 0%;
  z-index: 10;
  color:aliceblue;
}
.text {
  position: absolute;
  font-size: 30px;
  width: 400px;
  top: 50%;
  left: 28%;
  z-index: 10;
  color: aliceblue;
}
